CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
.vscode
sdkconfig
sdkconfig.old
components/klipper/compile_time_request.c 
components/klipper/klipper.dict
autoconf.h
